:root {
	--brush-color: rgb(247, 164, 184);
	--grid-size: 16;
}

*,
*::before,
::after {
	box-sizing: border-box;
}

kbd {
	padding: 0.2em 0.6em;
	border: 1px solid black;
	margin: 0 0.5em;
	background-color: #fff9c4;
}

.sketch-container {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

.sketch-container:hover {
	cursor: crosshair;
}

.grid-item {
	border: 1px solid rgb(177 51 51 / 29%);
}
