:root {
	--brush-color: rgb(247, 164, 184);
	--grid-size: 16;
	--grid-overlay: 1px solid rgb(7 39 194 / 15%);
}

*,
*::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	padding: 0.5em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	justify-items: center;
	font-size: 1.5rem;
	overflow-x: clip;
}

.page-title {
	margin: 0;
	font-weight: 700;
}

.btn {
	font-size: 1.5rem;
	background-color: #fff;
	color: #000;
	border: 1px solid black;
	box-shadow: 0 0 2px 0px #000;
	padding: 0.2rem 0.6rem;
	cursor: pointer;
}

.btn--options {
	align-self: start;
}

.instructions-container {
	justify-self: start;
}

.menu-container {
	display: grid;
	grid-template-rows: min-content;
	align-items: start;
	justify-self: end;
}

.options {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
	border: 1px solid black;
	position: relative;
	left: 120px;
	visibility: hidden;
	transition: all 0.5s;
}

.options__item {
	padding: 0.2em 0.6em;
	background-color: #fff9c4;
	cursor: pointer;
}

.options__item:hover {
	background-color: #f9ea61;
}

.options__item + .options__item {
	border-top: 1px solid black;
}

.show {
	visibility: visible;
	transform: translateX(-120px);
}

kbd {
	padding: 0.2em 0.6em;
	border: 1px solid black;
	margin: 0 0.5em;
	background-color: #fff9c4;
}

.sketch-container {
	display: grid;

	grid-column: span 2;

	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);

	width: 960px;
	height: 960px;
	border: 1px solid black;
	box-shadow: 0px 0px 4px 1px black;
}

.sketch-container:hover {
	cursor: crosshair;
}

.grid-item {
	border: var(--grid-overlay);
}

.flex-container {
	display: flex;
}

footer {
	grid-column: span 2;
}

.footer-name {
	margin: 0;
}

.github-icon {
	align-self: center;
	margin-left: 1em;
}
