:root {
	--hover-color: rgb(197 202 233 / 66%);
	--grid-size: 16;
}

*,
*::before,
::after {
	box-sizing: border-box;
}

.sketch-container {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

.sketch-container:hover {
	cursor: crosshair;
}

.grid-item {
	border: 1px solid rgb(177 51 51 / 29%);
}

.grid-item:hover {
	background-color: var(--hover-color);
}
